<div class="container mt-4">
    <div class="row">
        <ul class="nav justify-content-center menu-dashboard">
            <li class="nav-item">
                <a (click)="this.vali=1" [ngClass]="{'activo-dashboard':this.vali==1 }" class="nav-link " aria-current="page" >Inicio</a>
            </li>
            <li class="nav-item">
              <a (click)="this.vali=2" [ngClass]="{'activo-dashboard':this.vali==2}" class="nav-link" aria-current="page" >Gestion de animales</a>
            </li>
            <li class="nav-item">
              <a (click)="this.vali=3" [ngClass]="{'activo-dashboard':this.vali==3}" class="nav-link" >Administración de crias</a>
            </li>
        
          </ul>
        <div   *ngIf="vali==2"  class="col-lg-12 pt-4">
            <h2>Sistema de gestión de animales</h2>
            <div class="col-lg-12 mb-2 d-flex justify-content-between">

               <app-register>
                
               </app-register>

                <div class="d-flex info-element">
                    <div class="d-flex justify-content-center aline-content-center">
                        <img  width="25" height="25" src="https://img.icons8.com/flat-round/64/self-destruct-button--v1.png" alt="self-destruct-button--v1"/>
                        <span>Muerto</span>
                    </div>
                    <div class="d-flex ">
                        <img width="25" height="25" src="https://img.icons8.com/fluency/48/veterinarian-male.png" alt="veterinarian-male"/>
                        <span>En curación</span>
                    </div>
                    <div class="d-flex ">
                        <img width="25" height="25" src="https://img.icons8.com/fluency/48/money.png" alt="money"/>
                        <span>Vendido</span>
                    </div>
                    <div class="d-flex  ">
                        <img width="25" height="25" src="https://img.icons8.com/color/48/flying-stork-with-bundle.png" alt="flying-stork-with-bundle"/>
                        <span>Gestación</span>
                    </div>
                    <div class="d-flex  ">
                        <img width="25" height="25" src="https://img.icons8.com/papercut/60/sale--v3.png" alt="sale--v3"/>
                        <span>En venta</span>
                    </div>
                    <div class="d-flex  ">
                        <img width="25" height="25" src="https://img.icons8.com/parakeet/48/task.png" alt="task"/>
                        <span>Sin estado</span>
                    </div>                                                                                                                        
                </div>
            </div>
            <app-tanimal>

            </app-tanimal>
        </div>
        <div   *ngIf="vali==3"  class="col-lg-12 pt-4">
            <h2>Sistema de gestación</h2>
            
        </div>
        <div   *ngIf="vali==1"  class="col-lg-12 pt-4">
            <h2>Dashboard </h2>
            
        </div>
    </div>
</div>

