<div class="bootstrap-wrapper">
    <div class="container " style="display: grid; justify-content: center; align-items: center; height: 80vh;">
      <div class="row mt20">
        <div class = "col-md-12  justify-content-center">
          <img style="width: 200px;"
           src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701913654/f0smklbdge8wxldotgoo.jpg">
          <h1 style="color: #035936; font-weight: bold; font-size: 50px;">...WIWUAKUNA</h1>
          <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>