<div class="container" style="background: #fff;">    
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6"></div>
    </div>
    <div class="row " style="background: #99b89a;">
      <div class="col-lg-12 img_portada d-flex justify-content-center align-items-center">
        <ul class="text-center color_secundario_blanco pt-5" style="list-style: none;  width: 800px;">
          <h1 class=" letraLeangue mt-3 mb-3" style="font-size: 55px; font-weight: bold;">
            WIWUAKUNA</h1>
          <li>
          <li style="margin-top: 20px; font-size: 13px;">
            <p>Explora nuestra granja virtual y encuentra el animal perfecto para ti. ¡Adopta hoy mismo y sé parte de
              esta maravillosa familia agrícola!"</p>
          </li>
          <li>
            <div class="input-group mb-3">
              <input #miInput type="text" class="form-control" placeholder="Aqui escribe lo que quieres buscar"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-light color_principal_verde" (click)=" realizarbusqueta(miInput.value)"  style="font-weight: bold;" type="button "
                id="button-addon2">Buscar</button>
            </div>
          </li>
          <li style="margin-top: -20px; margin-bottom: 20px;">
            <ul style="font-weight: bold; font-size: 14px;" class="nav justify-content-center m-0 p-0">
              <li class="nav-item ">
                <a class="nav-link color_secundario_blanco" aria-current="page" href="#">Aves</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" href="#">Ganado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" href="#">Cabras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" aria-disabled="true">Cerdos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" aria-disabled="true">Peces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" aria-disabled="true">Caballos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" aria-disabled="true">Conejos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_blanco" aria-disabled="true">Cuyes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color_secundario_amarillo" aria-disabled="true">Todos</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-lg-6">
        <h2 style="font-size: 50px;" class="letraLeangue color_principal_verde mt-4">PROYECTO DE MÓDULO WIWAKUNA</h2>
        <p>
          ¡Bienvenidos a nuestra Feria Virtual de Animales de Granja! Aquí encontrarás la experiencia definitiva para comprar y vender animales de granja. Explora nuestro mercado en línea, repleto de una diversidad de animales que van desde adorables cachorros hasta majestuosas aves. Conéctate con criadores y vendedores provenientes de todos los rincones del Ecuador. ¡Únete a nosotros y sumérgete en un mundo de posibilidades para los amantes de los animales y de la productividad desde la comodidad de tu hogar!
        </p>
      </div>
      <div class="col-lg-6">
        <img style="width: 100%; " src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095156/ggtymnjx0hvuxajetgqx.jpg">
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <h5 class="color_principal_verde letraLeangue" style="font-size: 25px; " >PARA COMPRAR SIMPLEMENTE <img width="48" height="48" src="https://img.icons8.com/sf-regular-filled/48/004121/arrow.png" alt="arrow"/> </h5>
        <div class="col-lg-3 d-flex flex-column p-3 ">
            <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095157/cukkyt6yviepscplfyih.jpg">
            <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center; 
            ">Busca </h6>
        </div>
        <div class="col-lg-3 d-flex flex-column p-3">
          <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095154/ptdkf0advs9ghk3dpvpk.jpg">
          <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Selecciona</h6>
        </div>
        <div class="col-lg-3 d-flex flex-column p-3">
          <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095159/zvreqzbswwtomlpbbf4o.jpg">
          <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Contacta y compra</h6>
        </div>
        <div class="col-lg-3 d-flex flex-column p-3">
          <img style="width: 150px; margin: auto ; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095158/emu2bsuwyu9xtcwhhl9e.jpg">
          <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Llevalo!!</h6>
        </div>
    </div>
    <div class="row mt-5 mb-5 d-flex justify-content-center">
      <h5 class="color_principal_verde letraLeangue" style="font-size: 25px; text-align: right;" ><img width="48" height="48"  style="transform: rotate(180deg);" src="https://img.icons8.com/sf-regular-filled/48/004121/arrow.png" alt="arrow"/>  PARA VENDER SIMPLEMENTE </h5>
        <div class="col-lg-3 d-flex flex-column p-3 ">
            <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095156/jysqc5ocpyb2wonf7wod.jpg">
            <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Vende </h6>
        </div>
        <div class="col-lg-3 d-flex flex-column p-3">
          <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095159/mugidktwdcbdxim75rev.jpg">
          <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Publica</h6>
        </div>
        <div class="col-lg-3 d-flex flex-column p-3">
          <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095156/fip4jbel0c4faaxz8p6o.jpg">
          <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Describe</h6>
        </div>
        <div class="col-lg-3 d-flex flex-column p-3">
          <img style="width: 150px; margin: auto; border-radius: 50%;" src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095154/psowar7vhrpuhcegqzgu.jpg">
          <h6 class="color_principal_verde mt-3 letraLeangue" style="font-size: 20px; text-align: center;">Captura</h6>
        </div>
    </div>
    <div class="row mt-5 mb-4">
      <div class="col-lg-6 ">
        <h5 class="color_principal_verde letraLeangue" style="font-size: 25px;" >CATEGORÍAS DE BUSQUEDA</h5>
        <div class="row d-flex justify-content-left align-items-center">
          <div  class="col-lg-2  centrar_categoria">
            <img style="margin: 0px auto;" src="https://img.icons8.com/ios/50/23714A/henhouse--v1.png"
              alt="henhouse--v1" />
            <h6 class="color_principal_verde mt-2">Aves</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">
            
            <img src="https://img.icons8.com/ios/50/23714A/cattle-sign.png" alt="cow-breed" />
          
            <h6 class="color_principal_verde mt-2">Ganado</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">
            <img
              src="https://img.icons8.com/external-line-adri-ansyah/64/23714A/external-Sheep-animals-line-adri-ansyah.png"
              alt="external-Sheep-animals-line-adri-ansyah" />
            <h6 class="color_principal_verde mt-2">Cabras</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">            
            <img  src="https://img.icons8.com/ios/50/23714A/fish-food.png" alt="fish-food"/>
            <h6 class="color_principal_verde mt-2">Peces</h6>
          </div>
          <div class="col-lg-2 centrar_categoria ">
            <img src="https://img.icons8.com/ios/50/23714A/pig.png" alt="pig" />
            <h6 class="color_principal_verde mt-2">Cerdos</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">
            <img src="https://img.icons8.com/ios/50/23714A/rabbit--v1.png" alt="rabbit--v1" />
            <h6 class="color_principal_verde mt-2">Conejos</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">
            <img src="https://img.icons8.com/ios/50/23714A/horse.png" alt="horse" />
            <h6 class="color_principal_verde mt-2">Caballos</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">
            <img src="https://img.icons8.com/ios/50/23714A/earth-worm.png" alt="earth-worm"/>          
            <h6 class="color_principal_verde mt-2">Lombriz</h6>
          </div>
          <div class="col-lg-2 centrar_categoria">
            <img src="https://img.icons8.com/ios/50/23714A/guinea-pig.png" alt="guinea-pig" />
            <h6 class="color_principal_verde mt-2">Cuy</h6>
           
          </div> 
          <div class="col-lg-2 centrar_categoria">
            <img src="https://img.icons8.com/ios/50/23714A/pets--v1.png" alt="pets--v1"/>
            <h6 class="color_principal_verde mt-2">Mascotas</h6>
            
          </div>  
          
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="color_principal_verde letraLeangue "  style="font-size: 25px;">CREEMOS EN</h5>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg-4 m-0 p-1">
            <div class="card" style="width: 100%; min-height: 231px;">
              <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095155/tfndjc2bjje8fldiekhp.jpg" class="card-img-top" 
              style="max-height: 50px; object-fit: cover;" alt="...">
              <div class="card-body">
                 <h6 class="color_principal_verde">Industria 4.0</h6>
                <p class="card-text">
                  Creemos que el mundo está cambiando y
                  la industria tambien.
                </p>
                 
              </div>
            </div>        
          </div>
          <div class="col-lg-4 m-0 p-1">
            <div class="card" style="width: 100%; min-height: 231px;">
              <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095160/qeqyusuvyrjwzfzl7qst.jpg" class="card-img-top" 
              style="max-height: 50px; object-fit: cover;" alt="...">
              <div class="card-body">
                 <h6 class="color_principal_verde">Conservación</h6>
                <p class="card-text">
                  Buscamos nuevas formas de obtener recursos y mejorar la producción
                </p>
                 
              </div>
            </div>  
          </div>
          <div class="col-lg-4 m-0 p-1">
            <div class="card" style="width: 100%; min-height: 231px;">
              <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095157/bcqhlg21vsamibgaaezs.jpg" class="card-img-top" 
              style="max-height: 50px; object-fit: cover;" alt="...">
              <div class="card-body">
                 <h6 class="color_principal_verde">Sostenibilidad</h6>
                <p class="card-text">
                 Hay que avanzar pero siempre tomando en cuenta el medio ambiente
                </p>
                 
              </div>
            </div>  
          </div>

        </div>
      </div>

    </div>
    <h5 style="font-size: 25px;" class="letraLeangue color_principal_verde">FUTURAS HERRAMIENTAS RELACIONADAS AL MÓDULO DE WIWUAKUNA</h5>
    <div class="row d-flex justify-content- ">
        
      <div class="col-lg-3">
          <div class="otras_herramientas degradado_verde">
            <h6 >KAUSAY </h6> 
            <p class="letraLeangue">Administración de animales</p>
            <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095160/qeqyusuvyrjwzfzl7qst.jpg">
          </div>
      </div>
      <div class="col-lg-3 ">
        <div class="otras_herramientas degradado_celeste">
          <h6>LLUP </h6>
          <p class="letraLeangue">Automatización de procesos  </p>
          <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095158/gmbvjddiqw7bafrunxar.jpg">        
        </div>
      </div>
      <div class="col-lg-3">
        <div class="otras_herramientas degradado_anaranjado">
          <h6>HAYKA</h6>
          <p class="letraLeangue">Herramientas de calculo</p>
          <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095155/mkzsut70vsjrnjnu2xlw.jpg">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="otras_herramientas degradado_amarillo">
          <h6>HERNBARIO</h6>
          <p class="letraLeangue">Herbario digital del Ecuador</p>
          <img src="https://res.cloudinary.com/dpqnphzwa/image/upload/v1701095156/fv4gt1swdtvjl3twr0wa.jpg">
        </div>
      </div>
      
    </div>
    <div class="row  ">
      
      <div class="col-lg-12 p-5 d-flex justify-content-between fondo_dos" style="height: 5vh; ">

           <h2 class="color_secundario_blanco ">
            <i class="bi bi-c-circle color_secundario_blanco"></i><b>Copyright</b> Francisco Simón Moreira García</h2> 
            <a href="https://fmoreira99.github.io/Proyecto-San-Juan/" class="btn color_secundario_blanco m-0 p-0" style="font-weight: bold; ">UEFSJE</a>
      </div>
  </div>
  </div>
 