<div class=" row d-flex  conte p-5" style="display: flex; justify-content: center;">

  <div class="col-lg-12 p-3" style="height: 100vh;">
    <div class="row">
      <div class="col-lg-6 p-5">
        <img style="opacity: 0.8; border-radius: 50%;"
          src="https://th.bing.com/th/id/OIG.cjZ1bB4Nt4vh8kI5.aAR?w=1024&h=1024&rs=1&pid=ImgDetMain" class="card-img"
          alt="...">

      </div>
      <div class="col-lg-6 p-5 ">
        <h5 class="card-title ">Recursos para el mejoramiento agricola</h5>
        <p class="card-text">En esta plataforma, te ofrecemos una amplia gama de recursos diseñados para impulsar la
          productividad y sostenibilidad en el ámbito agrícola.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12" style="height: 100vh;">
    <div class="row">
      <div class="col-lg-6 p-5">
        <h5 class="card-title">Compra y venta de animales con nuestros socios</h5>
        <p class="card-text">Adéntrate en nuestro mercado digital dedicado a la Compra y Venta de Animales, donde
          conectamos a apasionados criadores y amantes de los animales.</p>
      </div>
      <div class="col-lg-6 p-5">
        <img style="opacity: 0.8; border-radius: 50%;"
        src="https://th.bing.com/th/id/OIG.7twQg7epI9P9QYP43umi?pid=ImgGn" class="card-img"
          alt="...">

      </div>
      
    </div>
  </div>
  <div class="col-lg-12" style="height: 100vh;">
    <div class="row">
      <div class="col-lg-6 p-5">
        <img style="opacity: 0.8; border-radius: 50%;"
        src="https://th.bing.com/th/id/OIG.r2F2UQTZIffb.ypCX5vm?pid=ImgGn" class="card-img"
          alt="...">

      </div>
      <div class="col-lg-6 p-5">
        <h5 class="card-title">Compra y venta de alimentos con productores de la zona</h5>
        <p class="card-text">Nuestra plataforma dedicada a la Compra y Venta de Alimentos frescos
          directamente de los productores de tu zona. </p>
      </div>
    </div>
  </div>
  <div class="col-lg-12" style="height: 100vh;">
    <div class="row">
      <div class="col-lg-6 p-5">
        <h5 class="card-title">Consigue los mejores productos quimicos para tu granja</h5>
        <p class="card-text">Consigue los mejores productos químicos para potenciar el rendimiento de tu granja. En
          nuestra plataforma, ofrecemos una selección cuidadosamente curada de soluciones químicas de alta calidad,
          diseñadas para mejorar la eficiencia y productividad agrícola. </p>
      </div>
      <div class="col-lg-6 p-5">
        <img style="opacity: 0.8; border-radius: 50%;"
        src="https://th.bing.com/th/id/OIG.llRcmMfu3.MRD_CUSrMe?pid=ImgGn" class="card-img"
          alt="...">

      </div>
      
    </div>
  </div>
  
  <div class="col-lg-12" style="height: 100vh;">
    <div class="row">
      <div class="col-lg-6 p-5">
        <img style="opacity: 0.8; border-radius: 50%;"
        src="https://th.bing.com/th/id/OIG.5.j1ZJfciFSxX0SMiEVj?pid=ImgGn" class="card-img"
          alt="...">

      </div>
      <div class="col-lg-6 p-5">
        <h5 class="card-title">Mejora la automatización de y producción de tu negocío</h5>
        <p class="card-text">Descubre la mejor tecnología agrícola en nuestra sección de Venta de Máquinas. En nuestra
          plataforma, no solo te proporcionamos los mejores productos químicos para potenciar el rendimiento de tu
          granja.</p>
      </div>
      
      
    </div>
  </div>
  <div class="col-lg-12" style="height: 100vh;">
    <div class="row">
      <div class="col-lg-6 p-5">
        <h5 class="card-title">Maquinas para la productividad </h5>
        <p class="card-text">Entra al mundo de la eficiencia con nuestra gama de maquinaria pesada para el sector
          agrícola. En nuestra plataforma, te ofrecemos una cuidada selección de equipos robustos y potentes diseñados
          para enfrentar los desafíos más exigentes de la agricultura moderna. </p>
      </div>
      <div class="col-lg-6 p-5">
        <img style="opacity: 0.8; border-radius: 50%;"
        src="https://th.bing.com/th/id/OIG.dZ.ew5H6y_MO93bz0EDY?pid=ImgGn" class="card-img"
          alt="...">

      </div>
      
    </div>
  </div>
 
</div>