.conte div div 
{
margin: 10px;
border: 0px;
}
.conte div div img
{
    object-fit: cover; 
    width: 100%; 
    height: 100%;
    opacity: 0.4;
    filter: blur(4px) ;
}

.conte div div div h5
{
    font-size: 25px;
}

